body,html {
  height: 100%;
}

body {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height:100%;
    width:100%;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}

.background {
  background: transparent url('receipt_img.jpg') 0 0 no-repeat fixed;
  text-align: center;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='receipt_img.jpg', sizingMethod='scale');

  height: 100%;
  width: 100%;
  display: table;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.container {
    margin: 0 auto;
    padding: 0.5em;
    width: 765px;
    background-color: black;
    background: rgba(0, 0, 0, 0.5);

}
